footer ul li {
   display: flex;
   justify-content: center;
   margin: auto;
   position: relative;
   bottom: 0;
   
}

address{
    display: flex;
    justify-content: center;
    margin: auto;
}

p {
    text-align: center;
}

img{
    display: flex;
    justify-content: center;
    margin: auto;
}
footer{
    position: relative;
    bottom: 0;
    width: 90%;
    height: 40px;
    padding-right: 100px;
}



