<header>
    <div class="container">
        <div class="row">
            <div class="header">
                <div class="header-title ">
                    <span  type="button" class="home" routerLink="home">
                        Blog Engine Home
                    </span>
                </div>
                <div class="header-link ">
                    <button *ngIf="option != 0"
                     id="loginButton" class="btn btn-lg btn-primary btn-block" type="button" 
                     routerLink="login" routerLinkActive="activebutton" >Sign in</button>
                </div>
                <div class="header-link ">
                    <button class="btn btn-lg btn-primary btn-block" type="button"
                    routerLink="register" routerLinkActive="activebutton"  >Sign up</button>
                </div>
                <div class="header-link ">
                    <button *ngIf="option != 1"
                    id="logoutButton" class="btn btn-lg btn-primary btn-block" type="button"
                    (click)="logout()">Logout</button>
                </div>
               
                    
                
            </div>
        </div>
    </div>  
</header>